.home {
    &__news-listPhoto {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        }
    
    &__news-photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
        }
        
}